/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/


body {
    font-family: 'Play', sans-serif;
    background-image: url('https://flask-static-files.s3.eu-west-1.amazonaws.com/static/img/background.png');
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #ffffff;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    color: #3c4146;
}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 35px;
}

#page-index a {
    text-decoration: none;
    outline: 0;
}


.text-center {
    text-align: center;
}

.plain-element {
    margin: 0px !important;
    padding: 0px !important;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

.hide {
  display: none;
}

a {
    color: #4267b2
}

a:hover {
    text-decoration: none;
}

.overflow_hidden {
    overflow: hidden !important;
}

.transparent {
    background: transparent;
}


.left {
  margin-left: 0 !important;
}

.right {
  margin-right 0 !important;
}

.row-message {
  position: fixed;
  top: 40px;
  width: 100%;
}

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #c3e6cb;
  position: fixed;
  width: 100%;
  top: 40px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: fixed;
    width: 100%;
    top: 40px;
}

.error {
  color: red;
}

.row-no-data {
  text-align: center;
  margin: 50px;
  color: #7b7b7c;
  display: block;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.active {
  background: #e8f0fe !important;

}

.active .section-element {
  color: #0061ba !important;
}

select {
  display: block;
  width: 106%;
  height: 2.4rem;
  font-size: 14px;

}



/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #7d7d7d;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #7d7d7d;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}



/*----------------------------------------------
    ERROR 404
------------------------------------------------*/
#errorContainer {
  padding-top: 40px;
  height: 900px;
  background: transparent;
  text-align: center;
}


#mainContainer { margin:0 auto 20px auto; width:940px; padding:0; text-align:left; }
.company { display:inline; float:left; margin:40px 0 0px 280px; }
.robot { display:inline; float:left; width:280px; margin:0; overflow:visible; }
.error-header { display:inline; float:left; width:660px; font-size:20px; margin:50px 0 0 0; }
.mainContent { display:inline; float:left; width:660px; }
.largeFont { font-size:24px; }
.p-error { margin:18px 0; padding:0; line-height:1.4em; font-size:16px;}
.ul-error { margin:-10px 0 0 26px; padding:0; }
.ul-error li { margin:5px 0; padding:0; font-size:16px;}
.ul-error a { color:#3366cc; text-decoration:none; font-size:17px;}


.login-card {
  width: 20%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 15px 0px 0px 0px;
  background-color: white;
  border-color: transparent;
  border: 1px solid #b3b3b3;
  box-shadow: 1px 1px 1px 0px #b3b3b3;
  border-radius: 15px;
  color: #222222;
  font-weight: 600;

}

.login-card img {
  width: 70%;
  margin: auto;
}

.login-card .btn-login-card {
   width: 80%;
   margin: 10%;
   border-radius: 5px;
   background: #205592;

}



/*----------------------------------------------
    ANIMATIONS & EFFECTS
------------------------------------------------*/


/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/


@media(max-width:1700px) {

    .row-menu {
      width: 80%;
    }

    .footer {
      padding-left: 0.5%;
      padding-right: 0.5%;
    }

    .header {
      padding: 50px 0.5% 0px 1%;
    }

    .login-card {
      width: 25%;
    }


}

@media(max-width:1440px) {

    .section {
      width: 95%;
    }

    .section-header {
      font-size: 11px;
      padding: 0px 8px 16px 8px;
    }

    .section-element {
      font-size: 12px;
    }



}



@media(max-width:1361px) {

    .summary {
      padding: 15px 50px;
    }



}

@media(max-width:1200px) {

  .table-months tr {
    font-size: 10px;
  }

}


@media(max-width:1025px) {

    .row-menu {
      width: 100%;
    }


    .section-header {
      font-size: 10px;
      padding: 0px 0px 16px 8px;
    }

    .section-element {
      font-size: 11px;
    }

    .week-menu p {
        font-size: 12px;
    }

    .login-card {
      width: 40%;
    }
}



@media(max-width:992px) {

  .top-menu {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .dashboard-charts {
    width: 100%;
  }


}

@media(max-width:600px) {

  .header {
    padding: 50px 4% 0px 2%;
  }

  .btn-transparent {
    right: 0px;
  }

  .sidebar {
    width: 20%;
  }

  .week-menu p {
    font-size: 10px;
  }

  .login-card {
      width: 80%;
  }

}



