/*------------------------------------------------------------------------------
    DASHBOARD
------------------------------------------------------------------------------*/


.dashboard-cards {
    border: none;
    text-align: center;
    box-shadow: none;
    width: 60%;
    margin: auto;
    padding: 0px 0px 60px 0px;
}

/*------------------------------------------------------------------------------
    DASHBOARD ROWS
------------------------------------------------------------------------------*/

.row-title {
    width: 100%;
    margin: 20px 0px 40px 0px;
    text-align: center;
}

.page-title-container {
    width: 80%;
    margin: auto;
}


.row-back {
    position: relative;
    height: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0px !important;
    width: auto;
}

.row-back a {
    color: #0c0d0e;
    padding: 0px;
    cursor: pointer;
}

.row-back a:hover,
.row-back a:focus,
.row-back a:active {
  color: #0a58ca;
}

.row-back i {
    position: relative;
    top: 1px;
}


/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/

.card-menu {
    width: 94%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 #A9A9A9, 0 3px 1px -2px #838383, 0 1px 5px 0 #838383;
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
}

.card .card-content {
    padding: 12px 8px;
    height: 106px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-content {
  padding: 12px 8px;
  height: 106px;
}
.card .card-content {
  padding: 18px;
  border-radius: 0 0 2px 2px;
}

.card-menu .card-content p {
  color: black;
  font-size: 11px;
  min-height: 30px;
}

.card-menu .card-content .card-title {
  color: #1e3242;
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.insights-card {
  box-shadow: none;
  text-align: left;
  width: 100%;
  margin: 0 auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  margin-bottom: 30px;
  float: none;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 0.4px;
  box-shadow: 0 1px 3px 0 #bbbbbb,0 1px 1px 0 #cbcbcb,0 2px 1px -1px #d0d0d0;
}


.insights-card-left {
  width: 96%;
  margin-left: 0;
  margin-right: 4%;
}


.insights-card .card-header {
  padding: 6px 8px 6px 8px;
  margin-bottom: 6px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0px solid rgba(0,0,0,.125);
}

.insights-card .card-header h6 {
  margin-left: 0px;
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #303438;
  line-height: 1.2;
  width: 100%;
}

.insights-card .card-header p {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 10px;
  color: #868686;
  letter-spacing: 0.4px;
  text-transform: none;
}


.insights-card textarea {
  width: 100%;
  background-color: #f2f2f2;
  color: #0c0d0e;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  padding: 4px;
  font-size: 16px;
  height: 32px;
}

.insights-card select {
  display: block !important;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  background-color: #f2f2f2;
  height: 30px;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 2px 6px;
  color: #0c0d0e;
  font-weight: 500;
  width: 100%;
  font-family: 'Play', sans-serif;
}

.insights-card .col-form h6 {
  line-height: 68px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #303438;
  margin: 0px;
}

.table-content {
  border-radius: 5px;
  padding: 10px;
  padding: 2px;
  min-height: 300px;
}

.table-crypto {
  width: 100%;
}

.table-crypto tr {
 border-bottom: 0px solid transparent;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #303438;
  line-height: 1.2;
}

.table-crypto td {
  padding-left: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
}


.table-crypto tr:nth-child(odd) {
  background-color: #fafafa;
}

.table-crypto th {
  padding-left: 10px;
  background-color: #ffffff;
  line-height: 120%;
  font-size: 11px;
  text-transform: uppercase;
}


/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/

.btn-form {
  font-family: 'Play', sans-serif;
  background-color: #0054a0;
  border-radius: 3px;
  font-weight: 500;
  height: 30px !important;
  line-height: 28px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 2px;
  margin-left: 16px;
  margin-right: 4px;
  padding: 0px 20px;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 4px rgba(0,0,0,0.1),0 2px 8px rgba(0,0,0,0.1);
}

.btn-form:hover,
.btn-form:active,
.btn-form:focus {
  background-color: #4571b1;
  color: #ffffff;
}


/*------------------------------------------------------------------------------
    RESPONSIVITY
------------------------------------------------------------------------------*/

@media(max-width:1700px) {

    #page-index {
        padding-top: 0px;
    }

    .dashboard-cards {
        width: 95%;
    }

    .row-title {
        width: 100%;
        font-size: 2rem;

    }

    .row-cards {
        width: 100%;
        margin-bottom: 10px;
    }

    .card-menu {
        width: 90%;
    }

}



@media(max-width:1440px) {

  .dashboard-cards {
    width: 90%;
  }


  .card-menu .card-content .card-title {
      font-size: 12px;
      line-height: 16px;
      height: 32px;
  }

  .card-menu .card-content p {
      min-height: 50px;
      font-size: 10px;
  }

  .card .card-content {
      padding: 8px 4px;
  }

}

@media(max-width:1025px) {

  .dashboard-cards {
    width: 100%;
  }

  .card-menu .card-content .card-title {
      font-size: 16px;
  }

}

@media(max-width:767px) {


    .card-menu {
        width: 80%;
    }



}
